<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Projects</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylep.css">

<body>
    <header id="fixedHeader">
        <a style="width: 200px;" type="button" class="btn btn-light" href="mycv.php#project">Go back</a>
      </header>
    <!-- <header>
        <button id="toggleModeButton">Toggle Night Mode</button>
      </header>
     -->
     <br><br><br>

    <!-- section1 -->
<section id="Mirror" class="animated-section" >
    <div  style="display: flex; justify-content: space-between; height: 100%; ">
            <div class="photo-container" style=" height: 100%; width: 750px; background-color: rgb(195, 18, 18); border-radius: 0 40% 40% 0;">
                <img class="photoP"  src="images/mirror.jpg"  >
            </div>

            <div class="containerr"  >
                <p class="title1" style=" text-decoration: underline;
                text-decoration-color: red; ">Smart Mirror</p> 
                <br>
                <div class="description">
                    <h4 style="text-align: justify; font-weight: bold;">
                        Using Raspberry Pi4 I have created a smart mirror that offers several functionalities: </h4><br>
<p>

    &bull;Development of several modules for the mirror (digital and analog clock, calendar, agenda, weather)<br>
    &bull;Development of a voice recognition system to control LEDs, YouTube, and Wikipedia using voice commands <br>
    &bull;Development of a health monitoring system that allows users to measure oxygen and heart rate <br>
    &bull;Development of a facial recognition system to enable the mirror to interact with each user <br>
    &bull;Development of a web application to control the mirror remotely <br>
    &bull;Development of a security, ventilation, and energy-saving system <br>
    &bull;Design and realization of a prototype <br>
    &bull;Integration of a USB hub for device charging and mirror configuration <br>
    &bull;Best university project of the year 2021/2022 <br> <br>
    <span style="color: rgb(241, 44, 0); font-weight: bold; ">Keywords:</span>  <span style="font-size: 15px; font-weight: bold;">HTML | CSS | Bootstrap | PHP | SQL | Python | Flask | React.js | Node.js | Electron | Raspberry Pi 4</span> 
</p>
<br>
                    <div style="justify-content: center;text-align: center;align-items: center;">
                        <div hre class="ButtonAnimation"><a class="demo" href="Project/Smart-Mirror.html">View Project</a> </div>
                    </div>
                </div> <br> <br>

                                   
            </div>
    
    </div>
</section>

<!-- end section 1 -->

<br><br><br>

<!-- section2 -->
<section    class="animated-section1">
    <div  style="display: flex; justify-content: space-between; height: 100%; ">
            <div class="photo-container" style=" height: 100%; width: 700px; ">
                <img class="photoP" src="images/radio.png"  >
            </div>

            <div class="containerr" style="  background-color:  rgb(9, 67, 73) ;">
                <p class="title">Tunisian Radio</p> 
              <br>
                <div class="description">
                    <h4 style="text-align: justify; font-weight: bold;">
                        Tunisian Radio that contains more then 20 famous national canals  </h4>
                        <div style="    display: flex; flex-wrap: wrap;display: flex; flex-wrap: wrap; justify-content: center; margin: 10px;">
                            <img src="images/chams.jpg" alt="" class="canal">
                            <img src="images/ifm.jpg" alt="" class="canal">
                            <img src="images/jawhara.jpg" alt="" class="canal">
                            <img src="images/knooz.png" alt="" class="canal">
                            <img src="images/mosaique.png" alt="" class="canal">
                            <img src="images/zitouna.png" alt="" class="canal">
                            <img src="images/wataniya.png" alt="" class="canal">
                            <img src="images/jeune.png" alt="" class="canal">
                            <!-- <img src="" alt="" class="canal"> -->
                
                        </div>

<p>
    <span style="color: rgb(20, 151, 165); font-weight: bold;">Keywords:</span>  <span style="font-size: 15px; font-weight: bold;">HTML | CSS | JavaScript</span> 
</p>
<br>
                    <div style="justify-content: center;text-align: center;align-items: center;">
                        <div class="ButtonAnimation"><a class="demo" href="https://sakli-adem.github.io/radio1/radio.html" target="_blank">View Project</a> </div>
                    </div>
                </div> <br> <br>

                       

                
            </div>


    </div>
</section>
<!-- end section2 -->

<br><br><br>
    <!-- section3 -->
    <section class="animated-section" >
        <div  style="display: flex; justify-content: space-between; height: 100%; ">
                <div class="photo-container" style=" height: 100%; width: 750px; background-color: rgb(85, 12, 93); border-radius: 0 40% 40% 0;">
                    <img class="photoP"  src="images/empresa.png"  >
                </div>
    
                <div class="containerr"  >
                    <p class="title1" style=" text-decoration: underline;
                    text-decoration-color: rgb(85, 12, 93) ">Company managment </p> 
                    <br>
                    <div class="description">
                        <h4 style="text-align: justify; font-weight: bold;">
                           
                        Development of a website that allows managing a company : </h4><br>
    <p>
    
        &bull;&bull;<span style="font-weight: bold;">Inventory Management :</span><br>
        &bull;Add a new product with the following parameters (product photo, name, reference, unit price, bulk price, quantity) | 
        Delete a product
        | Automatically decrease the product quantity when a new receipt is added, containing the purchased quantity and product reference. <br>
        &bull;&bull;<span style="font-weight: bold;">Customer Management through their profiles :</span><br>
        Add new customers |
        Customer data accessible to the super-admin and editable |
        Payment history of each customer |
        Total amount paid |
        Total amount remaining  <br>
        &bull;&bull; <span style="font-weight: bold;">Generation of receipts for each payment :</span> 
        &bull;Archive of all receipts |
        Equipped with a search button to facilitate searching for a specific receipt<br>
        &bull; &bull;<span style="font-weight: bold;">To-Do List :</span> <br><br>
        <span style="color:  rgb(197, 24, 139); font-weight: bold;">Keywords:</span>  <span style="font-size: 15px; font-weight: bold;">HTML | CSS | Bootstrap | PHP | JavaScript | SQL/MySql </span> 
    </p>
    <br>
                        <div style="justify-content: center;text-align: center;align-items: center;">
                            <div  onclick="showalert()" class="ButtonAnimation"><a class="demo" >View Project</a> </div>
                        </div>
                    </div> <br> <br>
    
                                       
                </div>
        
        </div>
    </section>
    
    <!-- end section 3 -->



    <br><br><br>

<!-- section4 -->
<section    class="animated-section1">
    <div  style="display: flex; justify-content: space-between; height: 100%; ">
            <div class="photo-container" style=" height: 100%; width: 700px;">
                <img class="photoP" src="images/car.jpg"  >
            </div>

            <div class="containerr" style="  background-color:  rgb(9, 131, 48) ;">
                <p class="title">MiniCar RPi4</p> 
                <br><br><br>
                <div class="description">
                    <h4 style="text-align: justify; font-weight: bold;">
                        Development of a small basic Car using Raspberry Pi4 : </h4><br>
                       </h4><br>
<p>


    &bull;This project is So simple , I just learned from it how to controle Motors using python and RPi4 throught the Bluetooth <br> <br>
    <span style="color:rgb(9, 131, 48); font-weight: bold;">Keywords:</span>  <span style="font-size: 15px; font-weight: bold;">Python | BlueDot | Raspberry Pi 4 | 12V DC Hobby Motors</span> 
</p>
<br>
                    <div style="justify-content: center;text-align: center;align-items: center;">
                        <div onclick="showalert()" class="ButtonAnimation"><a  class="demo" >View Project</a> </div>
                    </div>
                </div> <br> <br>

                       

                
            </div>


    </div>
</section>
<!-- end section 4 -->
<br><br><br>



    <!-- section3 -->
    <section class="animated-section" >
        <div  style="display: flex; justify-content: space-between; height: 100%; ">
                <div class="photo-container" style=" height: 100%; width: 750px; background-color:rgb(197, 24, 139); border-radius: 0 40% 40% 0;">
                    <img class="photoP"  src="images/delevry.png"  >
                </div>
    
                <div class="containerr"  >
                    <p class="title1" style=" text-decoration: underline;
                    text-decoration-color:rgb(197, 24, 139) ">Delivery website</p> 
                    <br>
                    <div class="description">
                        <h4 style="text-align: justify; font-weight: bold;">
                           
                        Development of a website that allows People to delivery Things from Outside to Tunisia , and from Tunisia to Outside  : </h4><br>
    <p>
    
        &bull;&bull;<span style="font-weight: bold;">Inventory Management :</span><br>
        Add a new product with the following parameters (product photo, name, reference, unit price, bulk price, quantity) | 
        Delete a product
        | Automatically decrease the product quantity when a new receipt is added, containing the purchased quantity and product reference. <br>
        &bull;&bull;<span style="font-weight: bold;">Customer Management through their profiles :</span><br>
        Add new customers |
        Customer data accessible to the super-admin and editable |
        Payment history of each customer |
        Total amount paid |
        Total amount remaining  <br>
        &bull;&bull; <span style="font-weight: bold;">Generation of receipts for each payment :</span>  <br>
        Archive of all receipts |
        Equipped with a search button to facilitate searching for a specific receipt<br>
        &bull; &bull;<span style="font-weight: bold;">To-Do List </span> <br><br>
        <span style="color:  rgb(197, 24, 139); font-weight: bold;">Keywords:</span>  <span style="font-size: 15px; font-weight: bold;">HTML | CSS | Bootstrap | PHP | JavaScript | SQL/MySql </span> 
    </p>
    <br>
                        <div style="justify-content: center;text-align: center;align-items: center;">
                            <div onclick="showalert()" class="ButtonAnimation"><a  class="demo" >View Project</a> </div>
                        </div>
                    </div> <br> <br>
    
                                       
                </div>
        
        </div>
    </section>
    
    <!-- end section 3 -->



    <br><br><br>




















<script>
    const avatarButton = document.getElementById('avatar-button');
const avatarContainer = document.getElementById('avatar-container');

avatarButton.addEventListener('mouseover', () => {
  avatarContainer.style.display = 'block';
});

avatarButton.addEventListener('mouseout', () => {
  avatarContainer.style.display = 'none';
});
</script>


<script>
const toggleModeButton = document.getElementById('toggleModeButton');

    // Function to toggle night mode
    function toggleNightMode() {
      document.body.classList.toggle('night-mode');
    }
    
    // Event listener for the toggle mode button
    toggleModeButton.addEventListener('click', toggleNightMode);</script>

    
<script>
    function showalert(){
        alert("this project is not uploaded yet , check it soon ")
    }
</script>

<script>
let prevScrollpos = window.pageYOffset;
window.onscroll = function() {
let currentScrollPos = window.pageYOffset;
if (prevScrollpos > currentScrollPos) {
    document.getElementById("fixedHeader").style.top = "0";
} else {
    document.getElementById("fixedHeader").style.top = "-100px";
}
prevScrollpos = currentScrollPos;
}
</script>
</body>
</html>